<!DOCTYPE>
<html ng-app="carApp">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
<script src="js/controller.js"></script> 	
<script type="text/javascript" src="https://angular-file-upload.appspot.com/js/ng-file-upload-shim.js"></script>
<script type="text/javascript" src="https://angular-file-upload.appspot.com/js/ng-file-upload.js"></script>	
  <style type="text/css">
	.thumb {
	    width: 50px;
	    height: 50px;
	    float: none;
	    position: relative;
	    top: 7px;
	    margin-bottom: 15px;
	}

	form .progress {
	    line-height: 15px;
	}


	.progress {
	    display: inline-block;
	    width: 100px;
	    border: 3px groove #CCC;
	}

	.progress div {
	    font-size: smaller;
	    background: orange;
	    width: 0;
	}
  </style>
	<title>Я index.html</title>
</head>
<body>
<h4 align="right"><a href="/admin">В админку&nbsp</a></h4>
<div class="container" ng-controller="CarCtrl">
<h1></span>Купите наши автомобили</h1>
<table class="table">
<thead>
	<tr>
		<th>Производитель</th>
		<th>Модель</th>
		<th>Цена</th>	
		<th>wiki</th>
	</tr>
</thead>
<tbody>

	<tr ng-repeat="car in cars">
		<td>{{car.id_man.manufacturer}} <img ng-src="../upload/{{car.id_man.logo}}" height="30px"></td>
		<td>{{car.model}} <img ng-src="../upload/{{car.image}}" height="30px"></td>
		<td>{{car.price | currency}}</td>
		<td>{{car.wiki}}</td>
	</tr>
</tbody>
</table>

</div>
</body>
</html>