<!DOCTYPE>
<html ng-app="carApp">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script> -->

<script src="../js/controller.js"></script> 	


<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="../js/ng-file-upload-shim.js"></script>
<script src="../js/ng-file-upload.js"></script>
<!-- <script type="text/javascript" src="https://angular-file-upload.appspot.com/js/ng-file-upload-shim.js"></script>
<script type="text/javascript" src="https://angular-file-upload.appspot.com/js/ng-file-upload.js"></script>
 -->
  <style type="text/css">
	.thumb {
	    width: 50px;
	    height: 50px;
	    float: none;
	    position: relative;
	    top: 7px;
	    margin-bottom: 15px;
	}

	form .progress {
	    line-height: 15px;
	}


	.progress {
	    display: inline-block;
	    width: 100px;
	    border: 3px groove #CCC;
	}

	.progress div {
	    font-size: smaller;
	    background: orange;
	    width: 0;
	}
  </style>

	<title>Я admin.html</title>
</head>
<body>
	<h4 align="right"><a href="/">На главную&nbsp</a></h4>
	<div class="container" ng-controller="CarCtrl">
<h3 ng-click="show_man=!show_man"> Редактирование производителей</h3>
	<div ng-show="show_man"><!--  -->
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Logo</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input class="form-control" ng-model="man.manufacturer"><input type="hidden" class="form-control" ng-model="man._id">
					</td>
					<td><input class="form-control" ng-model="man.logo" ng-click="imagetoggleModal()"></td>
					<td><button class="btn btn-primary" ng-click="addContactMan()">Add</button></td>
					<td><button class="btn btn-info" ng-click="updateMan()">Update</button>&nbsp;&nbsp;
						<button class="btn btn-info" ng-click="deselect()">Clear</button>
					</td>
				</tr>

				<tr ng-repeat="man in manufacturer">
					<td>{{man.manufacturer}}</td>	
					<td><img ng-src="../upload/{{man.logo}}" height="30px"></td>
					<td><button class="btn btn-danger" ng-click="removeMan(man._id, man.logo)">Delete</button></td>
					<td><button class="btn btn-warning" ng-click="editMan(man._id)">Modify</button></td>
				</tr>
			</tbody>
		</table>
	</div>
<h3 ng-click="show_mod=!show_mod"> Редактирование продукции</h3>
	<div ng-show="show_mod">
	<table class="table">
	<thead>
		<tr>
			<th>Manufacturer</th>
			<th>Model</th>
			<th>Image</th>
			<th>Price</th>	
			<th>Wiki</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	<tr>

		<td><input class="form-control" ng-model="car.id_man.manufacturer" ng-click="toggleModal()" >
		<input type="hidden" class="form-control" ng-model="car.id_man._id">
		</td><!-- ng-click="select()"-->

		<td><input class="form-control" ng-model="car.model"></td>
		<td><input class="form-control" ng-model="car.image" ng-click="imagetoggleModal()"></td>
		<td><input class="form-control" ng-model="car.price"></td>
		<td><input class="form-control" ng-model="car.wiki"></td>
		<td><button class="btn btn-primary" ng-click="addContact()">Add</button></td>
		<td><button class="btn btn-info" ng-click="update()">Update</button>&nbsp;&nbsp;
			<button class="btn btn-info" ng-click="deselect()">Clear</button>
		</td>
	</tr>


		<tr ng-repeat="car in cars">
			<td><input type="hidden" value="{{car._id}}">{{car.id_man.manufacturer}}</td>
			<td>{{car.model}}</td>
			<td> <img ng-src="../upload/{{car.image}}" height="30px"></td><!---->
			<td>{{car.price | currency}}</td>
			<td>{{car.wiki}}</td>
			<td><button class="btn btn-danger" ng-click="remove(car._id, car.image)">Delete</button></td>
			<td><button class="btn btn-warning" ng-click="edit(car._id)">Modify</button></td>		
		</tr>


	</tbody>
	</table>
</div>
	
<modal title="Select manufacturer please" visible="showModal">
			<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Image</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="man in manufacturer">
						<td>{{man.manufacturer}}</td>	
						<td>{{man.image}}</td>
						<td><button class="btn btn-primary" ng-click="selectMan(man.manufacturer, man._id)">Выбрать</button></td>
					</tr>
				</tbody>
			</table>
</modal>


<imagemodal title="Select image please" visible="imageshowModal">
	<form name="myForm">
		<!-- 
		Username:
		<input type="text" name="userName" ng-model="username" size="31"> required>
		<i ng-show="myForm.userName.$error.required">*required</i>
		<br>Photo: -->
		<input  class="btn btn-primary" type="file" ngf-select ng-model="picFile" name="file" accept="image/*" ngf-max-size="2MB" required ngf-model-invalid="errorFiles">
		<i ng-show="myForm.file.$error.required">*required</i><br>
		<i ng-show="myForm.file.$error.maxSize">File too large {{errorFiles[0].size / 1000000|number:1}}MB: max 2M</i>
		<img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb"> 
		<br>
		<button class="btn btn-danger" ng-click="picFile = null" ng-show="picFile">Remove</button>
		<button class="btn btn-primary" ng-disabled="!myForm.$valid" 
		ng-click="uploadPic(picFile)">Submit</button>
		<br>
		<!--   <span class="progress" ng-show="picFile.progress >= 0">
		<div style="width:{{picFile.progress}}%" 
		ng-bind="picFile.progress + '%'"></div>
		</span> -->
		<span ng-show="picFile.result">Upload Successful</span>
		<span class="err" ng-show="errorMsg">{{errorMsg}}</span>
		<br>
	</form>
</imagemodal>



</div>		
</body>
</html>